@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: yekanBakh-Regular;

  src: url('../src/fonts/YekanBakhFaNum-Regular.woff') format("woff");
}

@font-face {
  font-family: yekanBakh-Bold;

  src: url('../src/fonts/YekanBakhFaNum-Bold.woff') format("woff");
}
@font-face {
  font-family: Rokh-Bold;

  src: url('../src/fonts/RokhFaNum-Bold.woff') format("woff");
}
@font-face {
  font-family: Rokh-ExtraBold;

  src: url('../src/fonts/RokhFaNum-ExtraBold.woff') format("woff");
}
@font-face {
  font-family: Rokh-Black;

  src: url('../src/fonts/RokhFaNum-Black.woff') format("woff");
}
@font-face {
  font-family: Montserrat-Regular;

  src: url('../src/fonts/Montserrat-Regular.ttf') format("trueType");
}
@font-face {
  font-family: Montserrat-Bold;

  src: url('../src/fonts/Montserrat-Bold.ttf') format("trueType");
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: yekanBakh-Regular;
  user-select: none;
  overflow-x: hidden;
}
/* global styles */
a {
  cursor: pointer;
}
.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex items-center justify-between;
}

.transition {
  @apply transition-all duration-300;
}
/* bg */
.bg-blur {
  background-color: #FFFFFF24;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}
.bg-blur2 {
  background-color: rgba(255, 255, 255, 0.91);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
}
.bg-blue{
  background-image: url('../src/img/Mask group.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* after */
.imgAfter{
  @apply after:content-[url('../src/img/shadow.png')] after:w-[105px] after:h-3 after:absolute after:mx-auto rtl:after:left-0 ltr:after:right-0 rtl:after:right-10 ltr:after:-left-10 after:bottom-[55px];
}
.aboutBanner .swiper-slide div::after{
  background: linear-gradient(180deg, rgba(164, 164, 164, 0) 42.7%, #5D5D5D 100%);
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: 20px;
}
/* gradient */
.bg-gradient{
  background: linear-gradient(270deg, #d1e9f5 4.55%, #d7d6f8 49.85%, #f3d4e0 93.3%);
}
.bg-gradient2{
  background: linear-gradient(270deg, #64C2DB 4.55%, #7476ED 49.85%, #E56F8C 93.3%);
}
.bg-gradient3{
  background: linear-gradient(180deg, #D0EDF4 0%, #D4D6F8 50%, #F3D3DF 100%);
}
.bg-gradient4{
  background: linear-gradient(310.86deg, #64C2DB 3.48%, #7476ED 47.73%, #E56F8C 90.18%);
}
.bg-gradient2:hover{
  background: linear-gradient(270deg, #E56F8C 4.55%, #7476ED 49.85%, #64C2DB 93.3%);
}
.border-linear{
    border: solid 1px transparent;
    border-radius: 22px;
    background:
        linear-gradient( #0f1339, #0f1339) padding-box,
        linear-gradient(to left, #64C2DB 4.55%, #7476ED 49.85%, #E56F8C 93.3%) border-box;
}
.border-linear1{
  border: solid 1px transparent;
  border-radius: 22px;
  background:
      linear-gradient( white, white) padding-box,
      linear-gradient(to left, #64C2DB 4.55%, #7476ED 49.85%, #E56F8C 93.3%) border-box;
}
.gradient-hover:hover{
  background:
        linear-gradient(to left, #64C2DB 4.55%, #7476ED 49.85%, #E56F8C 93.3%) padding-box,
        linear-gradient( #0f1339, #0f1339) border-box;
}
.gradient-hover1:hover{
  background:
        linear-gradient(to left, #64C2DB 4.55%, #7476ED 49.85%, #E56F8C 93.3%) padding-box,
        linear-gradient( transparent, transparent) border-box;
}
.seeAll.border-linear2{
  border: solid 1px transparent;
  border-radius: 22px;
  background:
  linear-gradient(270deg, #64C2DB 4.55%, #7476ED 49.85%, #E56F8C 93.3%) padding-box,
      linear-gradient(to left, #64C2DB 4.55%, #7476ED 49.85%, #E56F8C 93.3%) border-box;
}
.seeAll.gradient-hover2:hover{
  background:
        linear-gradient(to left, #E56F8C 4.55%, #7476ED 49.85%, #64C2DB 93.3%) padding-box,
        linear-gradient( transparent, transparent) border-box;
}
.border-linear3{
  border: solid 1px transparent;
  border-radius: 22px;
  background:
  linear-gradient(270deg, #64C2DB 4.55%, #7476ED 49.85%, #E56F8C 93.3%) padding-box,
      linear-gradient(to left, #64C2DB 4.55%, #7476ED 49.85%, #E56F8C 93.3%) border-box;
}
.gradient-hover3:hover{
  background:
        linear-gradient(to left, #E56F8C 4.55%, #7476ED 49.85%, #64C2DB 93.3%) padding-box,
        linear-gradient( transparent, transparent) border-box;
}
.gradient-hover:hover svg path,.gradient-hover1:hover svg path{
   fill: white;
}
.gradient-hover2:hover svg stop.first{
  stop-color: #E56F8C;
}
.gradient-hover2:hover svg stop.last{
  stop-color: #64C2DB;
}
.phoneIcon:hover svg stop.first{
  stop-color: #E56F8C;
}
.phoneIcon:hover svg stop.last{
  stop-color: #64C2DB;
}
.cartNumber:hover p{
  background: white;
  color: black;
}
/* hover */
.btnHover {
  transition: all .4s;
  overflow: hidden;
}
.btnHover::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient( 120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0) 70% );
  top: 0;
  left: -100px;
  opacity: 0.6;
}
.btnHover:hover::before {
  animation: shine 1.5s ease-out infinite;
}

.card {
  transform-style: preserve-3d;
}

.card img.img {
  transition: all .4s;
  pointer-events: none;
  z-index: 10!important;
}
.card:hover img.img {
  transform: translate3d(-10%, -10%, 20px);
}
.card:hover .sneakers {
  transform: translateZ(40px);
  opacity: 0.85;
}
@keyframes shine {
  0% {
    left: -100px;
  }

  60% {
    left: 100%;
  }

  to {
    left: 100%;
  }
}
/* hamIcon */
.dropdownContent {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: all .4s;
}
.dropdownContent.active {
  max-height: 2000px;
  overflow: visible;
}
.mobileMenu {
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
  top: 55px;
}
.mobileMenu.active {
  opacity: 100%;
  visibility: visible;
  top: 20px;
}
#dropdownBtn svg.active {
  transform: rotate(0);
}
/* input number */
input[type="number"] {
  -moz-appearance: textfield;
}
/* editor section */
.editorSection ul {
  @apply rtl:mr-4 ltr:ml-4 rtl:pr-6 ltr:pl-6;
}
.editorSection ul li::before {
  content: url('../src/img/svg/Vector6.svg');
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: -34px;
}
.editorSection ul li::before {
  @apply rtl:-right-[34px] ltr:-left-[34px]
}
/* accordion */
.acordionBtn img.active,.acordionBtn2 img.active{
  transform: rotate(180deg);
}
.acordionBtn2.active{
  background: #F3F5FF;
}
.acordionContent,.acordionContent2 {
  max-height: 0;
  overflow: hidden;
}
.acordionContent.active,.acordionContent2.active {
  max-height: 2000px;
  overflow: visible;
}
/* shadow */
.shadow-1 {
  box-shadow: 0px 9px 31px 0px #FF6F1D57;
}
.shadow-2{
  box-shadow: 0px 0px 190.05px 0px #00000096;
}
.shadow-3{
  box-shadow: 0px -18px 38px 2px #0000001A;
}
.shadow-4{
    box-shadow: -14px 11px 80px 0px #7e5eff;
}
.shadow-5{
  box-shadow: 0px 0px 200px 0px #00000026;
}
.shadow-6{
  box-shadow: 0px 4px 52px 0px #0000000D;
}
.shadow-7{
  box-shadow: 0px 4px 23px 0px #0000001A;
}
.shadow-8{
  box-shadow: 0px 0px 43.02px 0px #0000001A;
}
.shadow-9{
  box-shadow: 0px 0px 29px 0px #5858581A;
}
.shadow-10{
  box-shadow: 0px 0px 19px 0px #0000000D;
}
.shadow-11{
  box-shadow: -11.2px 8.8px 64px 0px #7E5EFF5E;
}
.shadow-12{
  box-shadow: 0px 0px 62.4px 0px #0000001C;
}
.shadow-next {
  box-shadow: -2px 0px 24px 0px #0000001A;
}
/* swiper */
#banner .swiper-pagination-bullet{
  width: 3px!important;
  height: 12px!important;
  background-color: #B0B7BF!important;
  border-radius: 2px;
  transition: all .4s;
  opacity: 100;
  margin: 0 2.5px;
}
#banner .swiper-pagination-bullet-active{
  height: 18px!important;
  background: linear-gradient(359.73deg, #64C2DB 0.16%, #7476ED 49.59%, #E56F8C 97%);
}
.about .swiper-pagination-bullet{
  width: 9px!important;
  height: 6px!important;
  background-color: #B0B7BF!important;
  border-radius: 70px!important;
  transition: all .4s;
  opacity: 100;
  margin: 0 2px!important;
}
.about .swiper-pagination-bullet-active{
  width: 21px!important;
  background-color: #7E5EFF!important;
}
.swiper-pagination{
  bottom: 46px!important;
}
.swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  background-color: #DEDEDE;
  opacity: 100;
  transition: all .4s;
}
.swiper-pagination-bullet-active{
  width: 43px;
  background-color: #7E5EFF;
  border-radius: 10px;
}
/* scrollbar */
.customScrollbar::-webkit-scrollbar {
  width: 12px;
}

.customScrollbar::-webkit-scrollbar-track {
  background: #E9E9E9;
  margin: 29px 0;
}

.customScrollbar::-webkit-scrollbar-thumb {
  background-color: #7476ED;
  border-radius: 20px;
  border: 3px solid #7476ED;
}

.customScrollbar {
  scrollbar-width: thin;
  scrollbar-color: #7476ED #E9E9E9;
  scroll-margin: 29px 0;
}
@media only screen and (max-width: 576px) {
 
}